streamlit
pandas
numpy
networkx
python-louvain
pyvis==0.3.2
plotly
matplotlib
wordcloud
scikit-learn
requests
google-cloud-bigquery
pandas-gbq
google-auth
openpyxl
xlrd
xlsxwriter
PyPDF2
pdfplumber
matplotlib-venn
